.navbar{
    background-color: green;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}
.nav-logo{
    /* color: black; */
    margin-left: 0;
    cursor:pointer;
    /* text-decoration: none; */
    /* font-size: 2rem; */
    width: 280px;
    position: absolute;
    top: 0;
    /* right: 0; */

}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(8,auto);
    grid-gap: 10px;
    justify-content: end;
    text-align: center;
    width: 80vw;
    list-style: none;
}
.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.nav-links:hover{
    background-color: rgb(13, 251, 73);
    border-radius: 4px;
    transition: all .2s ease-out;
}
.menu-icon{
    display: none;
}
@media only screen and (max-width : 960px){
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 10vh;
        left: -100%;
        transition: all .4s ease;
        overflow: auto;
        /* opacity: 0; */
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.8rem;  
        color:black;
        transform: translate(-100%,55%);
        cursor: pointer;
      }



.brand-name{
    margin-top: 10px !important;
    /* display:flex; */
    font-size: 1.8rem;
    font-style: italic;
    position: absolute;
    display: ruby-base-container ;
}
.nav-menu.active{
    background-color: black;
    left: 0;
    transition: all .5s ease;
    z-index: 1;
    opacity: 1;
}
.nav-links{
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
}
.nav-links:hover{
    background-color: aqua;
    border-radius: 0;
    color: coral;
}
.nav-logo{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%,50%);
    margin-left: 0;
}
#logo {
    width: 259px;
    margin: -22px;
    height: 82px;
    /* left: -6px; */
    margin-left: -82px;
}
}
/* #logo {
    float: left;
    margin: 0;
    width: 245px;
    right: 50px;
} */
@media only screen and (max-width:400px){
    .menu-icon{
        font-size: 1rem;
        transform: translate(1%,25%);
    }
}